.profile-image {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-top: 1.5em;

}

.Card {
  height: 24.25em;
  width: 18.5em;
  background-color: #f1f1f1;
  margin: 2em 0;
  border-radius: 2em;
  text-align: center;
}

.grid-card {
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}
