@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;500;700&family=Noto+Serif+Georgian:wght@900&display=swap');
@import './EmployeeForm.css';

p,
h1,
a {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;


}

.main-header {
  background-color: #1F2125;
  height: 300px;
  padding: 40px;
  color: white;
}

.profile-image {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-top: 1.5em;

}

.Card {
  height: 25em;
  width: 18.5em;
  background-color: white;
  margin: 2em 0;
  border-radius: 2em;
  text-align: center;

}


.contact-card {
  background-color: #f1f1f1;
  margin: 1em 0.75em;
  text-align: start;
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
}



.employee_name {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 6px 0;
}

.employee_more_info {
  background-color: #FFEBF6;
  margin: 0.75em;
  border-radius: 1em;
  padding: 1em;

}

.position {
  color: grey;
  font-weight: 500;
  margin: 6px 0;
}

.active {
  font-weight: 900;
  font-size: 0.875em;
  background-color: #E5EEE6;
  padding: 0.5em 2em;
  width: min-content;
  text-align: center;
  margin: auto;
  border-radius: 0.75em;
}

.employee-card-section {
  position: relative;
  top: -130px;

}

.grid-card {
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr 1fr 1fr;
}

.pt-1 {
  padding-top: 1em;
}

.pr {
  padding-right: 1em;
}

.bold {
  font-weight: 600;
}



.flex-card {
  display: flex;
  justify-content: space-between;
}


.btn {
  background-color: #C9B7EB;
  text-decoration: none;
  padding: 1em 1.75em;
  border-radius: 2em;
  color: black;
}
